span {
  margin: 4px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.todoList {
  display: flex;
  flex-direction: column;
}
.strikeText {
  text-decoration: line-through;
}
